@import 'src/styles/variables';

:host {
  .pokedex-title {
    color: $app-text-color-secondary;
    margin-left: 3rem;
  }

  .item-container {
    display: flex;
    flex-wrap: wrap;


    .item {
      margin: 10px;
      position: relative;
      min-height: 8rem;
      border-radius: 10px;
      cursor: pointer;

      @media only screen and (max-width: 768px) {
        width: 40vw;
      }
      @media only screen and (min-width: 768px) {
        min-width: 10rem;
      }

      .order {
        color: $app-text-color-light;
      }

      .sprite {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }

}
