@import 'src/styles/variables';

.light-text {
  color: $app-text-color-light;
}

.size-div {
  border-radius: 10px;
  padding-left: 1rem;
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.25);

  dl {
    width: 40%;

    dd {
      margin-inline-start: 0;
    }
  }
}
