<div class="about-div">
  <div [innerHTML]="species.textEntryDisplay" class="mb-2 pt-2"></div>

  <div class="size-div flex">
    <dl>
      <dt class="light-text">{{ "detail.about.height" | translate }}</dt>
      <dd>{{ pokemon.height * 10 }}cm</dd>
    </dl>
    <dl>
      <dt class="light-text">{{ "detail.about.weight" | translate }}</dt>
      <dd>{{ pokemon.weight / 10 }}kg</dd>
    </dl>
  </div>

  <div class="infos">
    <h3>{{ "detail.about.breeding" | translate }}</h3>
    <dl>
      <dt class="light-text">{{ "detail.about.gender" | translate }}</dt>
      <dd>
        {{
          "detail.about.male"
            | translate: { percentage: (100 * (8 - species.gender_rate)) / 8 }
        }}
      </dd>
      <dd>
        {{
          "detail.about.female"
            | translate: { percentage: (100 * species.gender_rate) / 8 }
        }}
      </dd>
    </dl>
    <dl>
      <dt class="light-text">{{ "detail.about.eggGroup" | translate }}</dt>
      <dd *ngFor="let group of species.egg_groups">
        {{ group.name | titlecase }}
      </dd>
    </dl>
    <dl>
      <dt class="light-text">{{ "detail.about.eggCycle" | translate }}</dt>
      <dd>{{ species.stepsToHacth }}</dd>
    </dl>
    <h3>{{ "detail.about.training" | translate }}</h3>
    <dl>
      <dt class="light-text">{{ "detail.about.trainingSpeed" | translate }}</dt>
      <dd>{{ species.growthRate?.descriptionDisplay | titlecase }}</dd>
    </dl>
  </div>
</div>
