<div class="detail-tab pt-2">
  <h3>{{ "detail.stats.title" | translate }}</h3>

  <div class="infos">
    <ng-container *ngFor="let baseStat of pokemon.stats">
      <dl>
        <dt class="light-text">{{ baseStat.stat.name | titlecase }}</dt>
        <dd>
          {{ baseStat.base_stat }}
        </dd>
        <dd class="stat-bar">
          <div
            [ngClass]="{ 'bad-stat': baseStat.base_stat < 50 }"
            [ngStyle]="{
              'width.%': baseStat.base_stat > 100 ? 100 : baseStat.base_stat
            }"
            class="stat-value"
          ></div>
        </dd>
      </dl>
    </ng-container>
    <dl>
      <dt class="light-text">{{ "detail.stats.total" | translate }}</dt>
      <dd>
        {{ totalStats }}
      </dd>
      <dd class="stat-bar">
        <div
          [ngClass]="{ 'bad-stat': totalStats < 300 }"
          [ngStyle]="{ 'width.%': totalStats / 6 }"
          class="stat-value"
        ></div>
      </dd>
    </dl>
  </div>

  <h3>{{ "detail.stats.typeEffects" | translate }}</h3>
  <div *ngFor="let el of effectToTypeMap | keyvalue" class="infos">
    <dl *ngIf="el.value.length > 0" class="flex-wrap">
      <dt [ngSwitch]="el.key" class="light-text">
        <span *ngSwitchCase="dmgRelationEnum.IMMUNE">{{
          "detail.stats.immune" | translate
        }}</span>
        <span *ngSwitchCase="dmgRelationEnum.RESISTANCE">{{
          "detail.stats.resistances" | translate
        }}</span>
        <span *ngSwitchCase="dmgRelationEnum.WEAKNESS">{{
          "detail.stats.weaknesses" | translate
        }}</span>
      </dt>
      <dd *ngFor="let type of el.value">
        <div class="chip {{ type }}">
          {{ type | titlecase }}
        </div>
      </dd>
    </dl>
  </div>
</div>
